* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #f4f8fb;
  color: #333;
  line-height: 1.6;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #007acc;
}
.logo span {
  color: #ff6b6b;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}
.nav-links a:hover {
  color: #007acc;
}

.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #007acc, #00b7ff);
  color: white;
  padding: 2rem;
}

.hero h2 {
  font-size: 3rem;
}
.hero span {
  color: #ffd700;
}
.hero p {
  margin: 1rem 0 2rem;
  font-size: 1.2rem;
}

.btn {
  background-color: #ff6b6b;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}
.btn:hover {
  background-color: #ff4a4a;
}


.about {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.about h2 {
  color: #007acc;
  margin-bottom: 1rem;
  font-size: 2rem;
}


.projects {
  padding: 4rem 2rem;
  text-align: center;
}

.projects h2 {
  color: #007acc;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-8px);
}

.card h3 {
  margin-bottom: 0.7rem;
  color: #007acc;
}

.btn-card {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #007acc;
  color: white;
  border-radius: 25px;
  font-size: 0.9rem;
  transition: 0.3s;
}
.btn-card:hover {
  background-color: #005f99;
}


.contact {
  padding: 4rem 2rem;
  text-align: center;
}

.contact h2 {
  color: #007acc;
  margin-bottom: 1rem;
}


footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #007acc;
  color: white;
  margin-top: 2rem;
}
